@use "../../styles/media";
@use "../../styles/colors";

.Divider {
  border: none;
  height: 1px;
  background-color: colors.$themeMediumDark;
  margin-block: 2rem;
  @media screen and (min-width: media.$medium) {
    margin-top: 3rem;
  }
  @media screen and (min-width: media.$large) {
    margin-top: 4rem;
  }
}
