@use "../../styles/colors";
@use "../../styles/media";
@use "../../styles/mixins";

.Header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  &__link {
    text-decoration: none;
  }
  &__logo {
    margin: 1.5rem;
    border-radius: 99999px;
    @include mixins.hoverFocus;
  }
  @media screen and (min-width: media.$medium) {
    padding: 2rem 0 2rem 2rem;
  }
  @media screen and (min-width: (media.$large + 2rem)) {
    &::before {
      content: "";
      position: relative;
      z-index: 1;
      order: 1;
      flex: 1 0 auto;
      align-self: center;
      height: 1px;
      background-color: colors.$subtleGray;
      transform: translateX(2rem);
    }
  }
}
