@use "./styles/media";
@use "./styles/colors";
@use "./styles/typography";

body {
  font-family: typography.$barlow;
  font-size: 0.9375rem;
  line-height: 1.667;
  font-weight: 100;
  color: colors.$themeLight;
  background-color: colors.$themeDark;
}

.App {
  position: relative;
  min-height: 100vh;
  padding-top: 5.5rem;
  @media screen and (min-width: media.$medium) {
    padding-top: 10rem;
  }
}
